.Menu {
  width: 37px;
}

.Menu__MenuOptions {
  width: 150px;
}

.Menu__MenuTrigger {
  text-align: right;
  font-size: 1.8em;
  padding-right: 10px;
}

.spacer {
  height: 5px;
  border-bottom: 1px solid #ccc;
}
