body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0;
  color: #333;
}

.branding {
  border-bottom: 1px solid hsl(200, 0%, 90%);
}

.branding h1,
.branding h2 {
  font-weight: 200;
}

.padbox {
  padding: 40px;
}

.Menu {
  width: 37px;
}

.Menu__MenuOptions {
  width: 150px;
}

.Menu__MenuTrigger {
  text-align: right;
  font-size: 1.8em;
  padding-right: 10px;
}

.spacer {
  height: 5px;
  border-bottom: 1px solid #ccc;
}
